/* -------------------------------------------------------------------------------

    0.  Reset css
    1.  header
    2.  content
    2.1 counter
	2.2 scala
	2.3 form_subscribe
    3.  footer 
   
*/
/*          0. Reset css      >>            */
html,body,img,div,h1,h2,h3,h4,h5,h6,ul,li,p,a,input,input[type=submit],input[type=email],form,hr
{
	outline:0;
	border:0;
    margin: 0;
    padding: 0;  
}
#footer,#header
{
display: block;
}
body
{
line-height: 1;
}
ul
{
list-style: none;
}
/*          0. Reset css      <<            */
html
{	
	background-image: url("../Images/Texture.jpg");
	background-repeat: repeat;
}
body
{	
	font-size: 62.5%;
	font-family: "Times New Roman", sans-serif;
	background-image: url("../Images/Shadow.png");
	width: 1024px;
	height: 768px;
	margin: 0 auto;
}
/*          1. header       >>            */
#header
{
	overflow: hidden;
}
#header h2
{
	letter-spacing: -3px;
	font-size: 6em;
	color: #fff;
	margin: 0 0 0 293px;
	font-weight:normal;
	line-height: 0.8;
}
#header h3
{
	letter-spacing: 1px;
	font-weight:normal;
	font-size: 44px;
	color: #838383;
	margin: 0 0 0 355px;
	text-shadow:-1px -1px 1px #2A2A2A;
}
#logo
{
	margin-left: 403px;
}
/*          1. header       <<            */
/*          2. content      >>            */

/*   		2.1 counter     >>            */
#counter
{
	height: 120px;
	margin: 0 0 0 293px;
}
#counter_time
{
	height: 85px;
}
#counter_time ul
{
	margin-top: 6px;
}
#counter_time li
{
	background-image: url("../Images/counter_background.png");
	background-repeat: no-repeat;
	width: 98px;
	height: 72px;
	color: #fff;
	float: left;
	margin-right: 15px;
	font-size: 60px;
	text-align: center;
	padding-top: 13px;
	line-height: 1;
}
#counter_time li:after
{
	clear:both;
	content:' ';
	display:block;
}
.name_time ul
{
	display: block;
}
.name_time li
{
	font-size: 26px;
	text-align: center;
	line-height: 1;
	width: 98px;
	height: 25px;
	color: #fff;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}
.name_time li:after
{
	clear:both;
	content:' ';
	display:block;
}
hr                       
{
	background:url("../Images/horizontal_rule.png") no-repeat top center;
	height:30px;
	border:none !important;
}
/*   		2.1 counter    <<            */
/*   		2.2 scala      >>            */
.scala
{
	width: 453px;
	height: 27px;
	border-radius: 9px;
	margin: 0 0 20px 285px;
	box-shadow:0px 0px 6px 1px #272727;
	background-color: #272727;
}
.scala_instal
{
	background-image: url("../Images/scala_instal_bacground.gif");
	background-repeat: repeat-x;
	width: 359px;
	height: 27px;
	border-radius: 9px 0 0 9px;
	float: left;
	border-right: 1px solid #333;
}
.scala_instal:after
{
	clear:both;
	content:' ';
	display:block;
}
.scala_remains
{
	background-image: url("../Images/scala_remains_bacground.jpg");
	background-repeat: repeat-x;
	width: 91px;
	height: 27px;
	float: right;
	border-left: 1px solid #fff;
	border-radius: 0 9px 9px 0;
}
.scala_remains:after
{
	clear:both;
	content:' ';
	display:block;
}
.Pfeile
{
	background-image: url("../Images/Pfeile.png");
	background-repeat: no-repeat;
	width: 33px;
	height: 56px;
	position: absolute;
	left: 635px;
	bottom: 0;
	padding-bottom: 9px;
}
.Pfeile_fix
{
	height: 41px;
	position: relative;
}
/*   		2.2 scala      <<            */
/*   		2.3 form_subscribe   >>            */
#form_subscribe
{
	width: 452px;
	height: 42px;
	background-color: #272727;
	border-radius: 10px;
	margin: 0 0 20px 286px;
	box-shadow:0px 0px 6px 1px #272727;
}
input[type=email]
{
	background-image: url("../Images/input_email_bacground.png");
	background-repeat: repeat-x;
	width: 323px;
	height: 42px;
	border-radius: 10px 0 0 10px;
	border-right: 1px solid #4c4c4c;
	font-size: 1.8em;
	color: #a6a0a0;
	float: left;
}
input[type=email]:after
{
	clear:both;
	content:' ';
	display:block;
}
input[type=submit]
{
	background-image: url("../Images/input_subscribe_bacground.png");
	background-repeat: repeat-x;
	width: 127px;
	height: 42px;
	border-left: 1px solid #959595;
	border-right: 1px solid #272727;
	border-radius: 0 10px 10px 0;
	color: #fff;
	font-size: 1.8em;
}
/*   		2.3 form_subscribe   <<            */
/*          3 footer             >>            */
#social_icons
{
	background-image: url("../Images/social_icons_bacground.png");
	background-repeat: no-repeat;
	padding: 5px 0 0 14px;
	width: 141px;
	height: 43px;
	margin-left: 441px;
}
#social_icons img
{
	margin-right: 5px;
}
/*          3 footer             <<            */

/*          2. content      <<            */



